.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);
  background: linear-gradient(to right, #f5af19, #f12711);
}

.container {
  display: inline-block;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

input {
  font-size: larger;
}

button {
  background-image: linear-gradient(
    to left,
    antiquewhite 0%,
    #f8b500 21%,
    #ff6600 100%
  );
}
button {
  display: block;
  padding: 0.5rem;
  width: 6rem;
  text-align: center;
  transition: 0.4s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 1rem 0rem;
  font-size: larger;
  margin: auto;
  margin-top: 20px;
  border: none;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

#tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#tables th,
#tables tr {
  border: 1px solid green;
  text-align: left;
  background-color: #a7f3d0;
  color: green;
  width: 100px;
}
#tables tr {
  height: 20px;
}

label {
  display: block;
}
.right {
  width: 5%;
  display: inline-block;
  position: fixed;
  top: 17%;
  margin-left: -300px;
}
img {
  height: 150px;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    /* height: 80vh; */
  }

  #tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: #ff9999;
    color: green;
  }
  #tables th,
  #tables tr {
    border: 1px solid green;
    text-align: left;
    background-color: #a7f3d0;
    color: green;
    width: 100px;
  }
  #tables tr {
    height: 20px;
  }
  img {
    height: 100px;
  }
  .right {
    width: 5%;
    display: inline-block;
    position: fixed;
    top: 23%;
    margin-left: 20%;
  }
}

#footer {
  /* margin-top: 46.4vh;
  height: 20vh; */
  position: absolute;
  top: 80%;
  width: 100%;
  height: 30vh;
  background-color: brown;
  color: white;
}

#footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 5vh;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--highlight-color);
}

.social a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
